/*styles go here*/
p {
	/*color:red;*/
	color:#666;
	font-family:Helvetica, Arial, sans-serif;
}

h1 {
	color:darkolivegreen;
	font-family:Garamond, Georgia, "Times New Roman", serif;
}

body {
	background-color:#ebe3c3;
}

#container {
	background-color: white;
	width: 95%;
	margin: 0 auto;
}

#nav{
	list-style-type: none;
	padding:0;
}
#nav li{
	margin:0;
	padding:0;
	border-bottom: 1px solid #ccc;
}

#nav a:link, a:visited {
	display: block;
	color: #ffffff;
    background-color: darkolivegreen;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
	background-color: #7a991a;
}

.caption{
	color:black;
	font-family:Garamond, Georgia, "Times New Roman", serif;
	font-style: italic;
	font-size: 0.8em;
	margin-top:0;
	text-align:right;
}

#footer{
	color:black;
	font-family: Garamond, Georgia, "Times New Roman", serif;
	font-size: 0.8em;
	border-top:1px solid black;

}

img {
	border: none; 
}
