/*styles go here*/
p {
	/*color:red;*/
	color:#666;
	font-family:Helvetica, Arial, sans-serif;
}

h1 {
	color:darkolivegreen;
	font-family:Garamond, Georgia, "Times New Roman", serif;
}

body {
	background-color:#ebe3c3;
}

#container {
	background-color: white;
	width: 95%;
	margin-left: 50px;
	margin-right:50px;
}
#nav{
	list-style-type: none;
	padding:0;
}
#nav li{
	margin:0;
	padding:0;
	border-bottom: 1px solid #ccc;
}

#nav a:link, a:visited {
	display: block;
	color: #ffffff;
    background-color: darkolivegreen;
    font-weight: bold;
    text-align:center;
    text-decoration: none;
    padding: 10px;
    font-family: Helvetica, Arial, sans-serif;
}

#nav a:hover, a:active {
	background-color: #7a991a;
}