


body{
	background-color: black;
  
}



h1 {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-left: 10px;
    font-size: 55px;
    color: white;
}

h2 {
  font-family: "Montserrat", sans-serif;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
    color: white;
}


p {
    font-family: "Open Sans", sans-serif;
    color:whitesmoke;
    text-align: left;
    margin-left:10px;
    margin-right:0px;
}

footer{
  font-family: "Open Sans", sans-serif;
    color:whitesmoke;
    font-size:15px;
    text-align: left;
    margin-top:200px;
    margin-left:150px;
    margin-right:0px;
    
    
}
address{
  margin-left:10px;
}


#container{
    
    width: 80%;
    margin: 0 auto;
}

#portfolio{
  text-align:center;
  font-weight:light;
  margin-top:100px;
  margin-right:0px;
}


#nav {
    padding: 0;
    list-style-type:none;
}

#nav li {
    display:inline-block;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    margin-left:10px;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

#nav a:link, a:visited {
    display:block;
    color: white;
    background-color: #0000;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    font-family: Open Sans, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: black;
}

.navigation{
  list-style: none;
  background: white;
  margin:0;
  padding: 0;
  display: flex;
  flex-flow:column;
}

.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10 px;
  border-top:1px solid black;
  border-bottom:1px solid white;
}

.header {
    grid-area: a;
      background-repeat: no-repeat;
      background-size: cover; 
      background-attachment: fixed; 
  }
  .section1{
    grid-area: b;
  }
  .section2 {
    grid-area: c;
    margin-right:135px;
  }
  .section3 {
    grid-area: e;
  }
  .image {
    grid-area: d;
    margin-top: 0px;
    margin-left:75px;
  }

  .header p:first-of-type, .section2 p:first-of-type {
    margin-top: 10;
  }
}

#subtext{
  text-align:center;
}


.wrapper{
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}


.main{
  display:flex;
  flex-flow: column;
}


@media (min-width: 200px) {

  .navigation {
    flex-flow: wrap;
    justify-content: flex-flow;  }
    article {
    display: grid;
    grid-template-columns: 10px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "a a a"
        "c c d"
        "b b b";
  }
}

@media (min-width: 600px) {

  .navigation {
    flex-flow: row;
    justify-content:flex-flow;  }
    article {
    display: grid;
    grid-template-columns: 70px 1fr 1fr;
    grid-gap: 10px;
    grid-template-areas:
        "a a a"
        "c c c"
        "b b d";
  }
}

@media (min-width: 1000px) {

  .navigation {
    flex-flow: row;
    justify-content:flex-flow;  }
    article {
    display: grid;
    grid-template-columns: 400px 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
        "a a a"
        "c b b"
        "d d d";
  }
}

