


body{
	color: black;
}

h1 {
    font-family: "Montserrat", sans-serif;
}


p {
    font-family: "Open Sans", sans-serif;
    color:#208;
    margin-left:10px;
    margin-right:10px;
}

.joke{
    color:white;
    background-color: #208;
    padding:5px;
    display:inline-block;
}

#container{
    background-color: lightgray;
    text-align:center;
    width: 95%;
    margin: 0 auto;
}


#nav {
    padding: 0;
    list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

#nav a:link, a:visited {
    display:block;
    color: #ffffff;
    background-color: #666;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    font-family: Open Sans, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #208;
}

