


body{
	color: black;
}

h1 {
    font-family: "Ultra", serif;
}


p {
    font-family: "Open Sans", sans-serif;
    color:#208;
    margin-left:10px;
    margin-right:10px;
}

.joke{
    color:white;
    background-color: #208;
    padding:5px;
    display:inline-block;
}

#container{
    background-color: lightgray;
    text-align:center;
    width: 95%;
    margin: 0 auto;
}


#nav {
    padding: 0;
    list-style-type: none;
}

#nav li {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #ccc;
    text-decoration: none;
}

#nav a:link, a:visited {
    display:block;
    color: #ffffff;
    background-color: #666;
    font-weight: 500;
    text-decoration: none;
    padding: 5px;
    font-family: Open Sans, Arial, sans-serif;
}

#nav a:hover, a:active {
    background-color: #208;
}

.navigation{
  list-style: none;
  background: gray;
  margin:0;
  padding: 0;
  display: flex;
  flex-flow:column;
}

.navigation a{
  text-decoration: none;
  display: block;
  text-align:center;
  color: white;
  padding:10px;
  border-top:1px solid black;
  border-bottom:1px solid white;
}

@media (min-width: 800px) {

  .navigation {
    flex-flow: row;
    justify-content:flex-flow;  }

}


.wrapper{
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}


.main{
  display:flex;
  flex-flow: column;
}

.header, .main, .aside,{
  flex: 1 100%;
  padding: 10px;
}
.aside{
  flex: 1 auto;
}

.aside-1{
  order:1;
}


.aside-2{
  order: 2;
}

.aside-3{
  order:3;
}

.first{
  margin-right: auto;
}




@media (min-width: 1200 px) {
  .first{
    margin-right:auto;

  }
}

