

.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

p {
	color: #666666;
    font-family: Monserrat, Arial, sans-serif;
}



h1 {
    font-family: Garamond, "Times New Roman", serif;
}